@using Espuchi.Core;
@model Banda
@{
    ViewData["Title"] = "Banda - Detalle";
}

<h2>@Model.Nombre</h2>
<p>Fundada en: @Model.Fundacion</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre Album</th>
            <th scope="col">Alta Album</th>
        </tr>
    </thead>
    <tbody class="">
        @* -------------------------Lista de Albunes dentro de una banda------------------------------------------ *@
        @foreach (var album in Model.Albunes)
        {
            <tr>
                <td>@album.Nombre</td>
                @* <td><a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="AltaAlbum">Alta Album</a></td> *@
                @* <td>
                    <a asp-controller="Album" asp-action="AltaAlbum">
                        <input type="hidden" asp-for="@Album.IdAlbum"/>
                        <button class="btn btn-primary">Alta Album</button>
                    </a>
                </td> *@
                <td>
                    <a asp-controller="Album" asp-action="AltaAlbum" asp-route-IdAlbum="@album.IdAlbum">
                        <button class="btn btn-primary">Alta Album </button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>